<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


 <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/login"/>
       
        <property name="unauthorizedUrl" value="/refuse.html"/>
        <property name="filterChainDefinitions">
            <value>
        		/test* = anon 
                /logout = logout
                /** = authc
            </value>
        </property>
        
       
</bean>

 <!-- 2.指定securityManager的对象 -->
    <bean name="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">

        <property name="realm" ref="myRealm" />

    </bean>

    <!-- 3.创建一个Realm对象 -->
    <bean name="myRealm" class="com.test.abc.MyRealm"></bean>
    
    <!-- 4.Spring容器对shiro生命周期的管理 ,基于注解权限拦截需要配置-->
    <bean name="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"></bean>
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor"/>
    
</beans>

